@import "../vars.scss";

.quote-container {
  width: 450px;
  height: auto;
  box-sizing: border-box;

  position: absolute;
  left: 40px;
  bottom: 50px;

  background-color: $off-white;
  color: #333;
  // border-left: 4px #333 solid;
  border-radius: 5px;
  padding: 1rem;

  border-top: 5px solid;
  border-image: linear-gradient(
      to right,
      #c8cc75 25%,
      #e55a5a 25%,
      #e55a5a 50%,
      #9d61f2 50%,
      #9d61f2 75%,
      #4d4dad 75%
    )
    5;

  p {
    font-family: $heading-font;
    font-style: italic;
    font-weight: 700;

    -webkit-animation: fadeIn 1s ease-in-out 1;
    -moz-animation: fadeIn 1s ease-in-out 1;
    -ms-animation: fadeIn 1s ease-in-out 1;
    animation: fadeIn 1s ease-in-out 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
