.cls-1 {
  fill: #d3a95f;
}
.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8 {
  stroke: $off-white;
}
.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9 {
  stroke-miterlimit: 10;
}
.cls-2 {
  fill: #4d4dad;
}
.cls-3 {
  fill: #d19161;
}
.cls-4 {
  fill: #e55a5a;
}
.cls-5 {
  fill: #c8cc75;
}
.cls-6 {
  fill: #63a060;
}
.cls-7 {
  fill: #9d61f2;
}
.cls-8 {
  fill: #724baf;
}
.cls-9 {
  fill: none;
  stroke: #231e22;
}
.white-fill {
  fill: $off-white;
}
