@import "../vars.scss";
@import "./spin-wheel-svg.scss";
@import "./animations.scss";

#feed-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../images/main-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .feed--container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100vh;

    .topic__item--stack {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 15.625rem;
      margin: 0 auto;
      list-style: none;

      .topic__item--top-card {
        background-image: url(../../images/card-bg.png);
      }

      li {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 15.625rem;
        height: 18.75rem;
        box-sizing: border-box;
        border: 1px solid $off-white--shadow;
        border-radius: 10px;
        padding: 0.5rem;
        background-color: $off-white;

        &:nth-child(1) {
          z-index: 6;
          top: 5px;
          margin-left: -2px;
        }
        &:nth-child(2) {
          z-index: 5;
          top: 10px;
          margin-left: -4px;
        }
        &:nth-child(3) {
          z-index: 4;
          top: 15px;
          margin-left: -6px;
        }
        &:nth-child(4) {
          z-index: 3;
          top: 20px;
          margin-left: -8px;
        }
        &:nth-child(5) {
          z-index: 2;
          top: 25px;
          margin-left: -10px;
        }
      }
    }

    // This card renders the topic content
    .topic__item {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 15.625rem;
      height: 18.75rem;
      margin: 0 auto;
      padding: 0.5rem;
      box-sizing: border-box;
      border: 1px solid $off-white--shadow;
      border-radius: 10px;
      background-color: $off-white;
      z-index: 7;

      .card__title {
        text-align: center;
        margin-bottom: 1rem;
        color: #333;
        font-family: $heading-font;
      }

      .card__desc--container {
        width: 95%;
        height: 70%;
        overflow-y: scroll;
        padding: 0.4rem;
        text-align: left;

        .card__desc {
          color: #333;
          line-height: 1.4em;
          font-size: 1.125em;
          font-family: $p-font;
        }
      }

      .card__link {
        p {
          margin-top: 0.5rem;
          text-align: center;
          color: #333;
          font-family: $p-font;
          font-size: 1.125em;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .spin-wheel--container {
      position: absolute;
      top: 110%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 25rem;
      height: 25rem;

      button {
        background: none !important;
        outline: none !important;
        box-shadow: none !important;
        border: none !important;

        &:focus {
          border: 3px solid #2491eb;
          border-radius: 50%;
        }
      }

      svg {
        width: 25rem;
        height: 25rem;
        transition-duration: 2s;

        // hides blue box when tapping spin wheel on moblie
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;

        &:hover {
          cursor: pointer;
          -ms-transform: rotate(-8deg);
          -moz-transform: rotate(-8deg);
          -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #feed-section {
    background-image: url("../../images/mobile-background.jpg");
  }
}
