@import "./vars.scss";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 16px;
  background-color: $off-white;
}

footer {
  text-align: center;
  margin: 1rem auto;
}

/* width */
::-webkit-scrollbar {
  width: 0.25em;
}

/* Track */
::-webkit-scrollbar-track {
  background: $off-white--dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $off-white--darker;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $off-white--darker;
}
