@import "./vars.scss";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 16px;
  background-color: $off-white;
}

footer {
  padding: 1rem;
  margin-top: 8rem;
  line-height: 1.4em;
  font-size: 1em;
  font-family: $p-font;
  text-align: center;
}

//
// Scroll Bar
//
/* width */
::-webkit-scrollbar {
  width: 0.25em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
