// Color
$off-white: #f2f2e8;
$off-white--light: lighten($off-white, 10%);
$off-white--dark: darken($off-white, 5%);
$off-white--darker: darken($off-white, 10%);

// Fonts
$heading-font: "Libre Baskerville", serif;
$p-font: "Source Sans Pro", sans-serif;
